/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
body {
  max-width: 100%;
}

  .column  {
      width: 50%;
    }


    
 /* DIRECTORY PAGE */
    .data img {
      padding: .2rem;
    }

 /* CONTACT PAGE */
.board {
  grid-template-columns: 1fr 1fr;
}

/* JOIN US PAGE */
#grid {
  display: block;
}
.goals li:nth-child(1) {
  font-weight: 300;
  text-align: center;
  font-size: 1rem;
  padding: .3rem;
}
.goals li {
  padding: .5rem;
}

  }